[General]
ConfigVersion=2
MinimizeAfterUnlock=true
NumberOfRememberedLastDatabases=4

[Browser]
CustomProxyLocation=
Enabled=true

[FdoSecrets]
ConfirmAccessItem=false
Enabled=true
ShowNotification=false

[GUI]
ApplicationTheme=dark
HideMenuBar=false
HidePasswords=false
Language=es
MinimizeOnClose=true
MinimizeToTray=true
MovableToolbar=true
ShowTrayIcon=true
TrayIconAppearance=colorful

[PasswordGenerator]
AdditionalChars=
ExcludedChars=
Length=12

[Security]
LockDatabaseIdle=false
LockDatabaseScreenLock=false
