@import "~/.config/rofi/config.rasi"

window {
    width: 620px;
}

mainbox {
    padding: 14px;
}

inputbar {
    border: 1px solid;
    border-color: @green;
}

textbox-prompt-colon {
    enabled: false;
    str: "";
}

entry {
    padding: 0px;
    placeholder: "search networks";
}

listview {
    lines: 9;
    fixed-height: false;
}

element {
    padding: 9px 10px;
}

element-text {
    horizontal-align: 0.0;
}
